# Remove everything:
/*
# Add stuff we actually need:
!team612/

!src/
!src/main/
!src/main/java/
!src/main/java/frc/

!/src/main/java/frc/robot/commands/
!/src/main/java/frc/robot/commands/autonomous/
!/src/main/java/frc/robot/commands/climb/
!/src/main/java/frc/robot/commands/drivetrain/
!/src/main/java/frc/robot/commands/intake/
!/src/main/java/frc/robot/commands/wheel/

!src/main/java/frc/robot/controls/

!src/main/java/frc/robot/subsystems/

!build.gradle

!vendordeps/

!.gitignore

!.wpilib/

!robot.JPG
!README.md

!*.java